{% extends "base.html" %}
{% block content %}
  <h1>Kauluspaita</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Merkki:</strong> H&M</li>
    <li><strong>Tyyppi:</strong> kauluspaita</li>
    <li><strong>Väri:</strong>Vaaleansininen</li>
    <li><strong>Väri2:</strong> Valkoinen</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
  Kuva voisi olla tässä<br>
  .....................<br>
  .....................<br>
  .....................<br>
  .....................<br>
  .....................<br>
  .....................<br>
  </p>
{% endblock %}