{% extends "base.html" %}
{% block content %}

  {% if user_logged_in %}
    <h1>{{user_logged_in.username}}'s outfits</h1>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <p>
    <a href="{{base_path}}/outfits/new" class="btn btn-success">New outfit</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>Items</th>
        <th>Rating</th>
        <th>Comment</th>       
        <th>Edit</th> <!-- Edits IF no one else has the same outfit -->
        <th>Remove</th>
      </tr>
    </thead>

    <!-- "DATA"-->
    <tbody>

    <!-- parametrina outfits (in collection) -->
      {% for outfit in outfits %}
        <tr>
          <td><a href="{{base_path}}/outfits/{{user_logged_in.user_id}}/{{outfit.outfit_id}}">{{outfit.outfit_id}}</td>
          <td>
          {% for item in outfit.items %}

          	<a href="{{base_path}}/items/{{item.item_id}}">{{item.item_id}} 
          {% endfor %}
          </td>
          <td>{{outfit.rating}}</td>
          <td>{{outfit.comment}}</td>
          <td><a class="btn btn-default btn-sm disabled" href="{{base_path}}/items/{{item.item_id}}/edit">Edit</a></td>
          <td>
            <form method="post" action="{{base_path}}/outfits/{{user_logged_in.user_id}}/removeitem">
              <div class="form-group">
                <input type="hidden" name="outfit_id" value="{{outfit.outfit_id}}">
                <button type="submit" class="btn btn-default btn-sm">Remove</button>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}