{% extends "base.html" %}
{% block content %}
  
  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h1>Vaate</h1>
  
  <h1>{{item.type}}</h1>
  <!-- Painikkeet tähän -->
 
   <form method="post" action="{{base_path}}/items/{{item.item_id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
  </form>

  <td><a class="btn btn-default btn-sm" href="{{base_path}}/items/{{item.item_id}}/edit">Muokkaa</a></td>


  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Merkki:</strong> {{item.brand}}</li>
    <li><strong>Väri:</strong>{{item.color}}</li>
    <li><strong>Väri2:</strong> {{item.color_2nd}}</li>
    <li><strong>Materiaali:</strong> {{item.material}}</li>
  </ul>

  <p>
  Kuva voisi olla tässä<br>
  .....................<br>
  .....................<br>
  .....................<br>
  .....................<br>
  .....................<br>
  .....................<br>
  </p>
    
  </table>
{% endblock %}