{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Tsoha Bootstrappiin!</h1>
  </div>

  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>

  <p> Linkitykset vielä tekemättä mutta tässä listana </p>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items">suunnitelmat/item_list.html</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/login">suunnitelmat/login.html</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1">suunnitelmat/item_show.html</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1/edit">suunnitelmat/item_edit.html</a>
  <br>

{% endblock %}
