{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Outfit-app</h1>
  </div>

  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}  
  
  <p> Your virtual wardrobe </p>
  <br>
  <p> With this app you can create a virtual version of your wardrobe!</p>
  <p> 1) Register </p>
  <p> 2) Add your clothes to the app to create a personal wardrobe</p>
  <p> 3) Combine your items to create outfits </p>
  <p> 4) Browse your outfits to decide what to wear today!</p>
  <p> </p>
  <br>
  <a class="btn btn-default btn-sm" href="{{base_path}}/login">Login</a>
  <a class="btn btn-default btn-sm" href="{{base_path}}/register">Register</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p> Devausaikaista sisältöä: </p>
  <br>
  <p> Staattiset testisivut </p>

  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/login">suunnitelmat/login.html</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1/edit">suunnitelmat/item_edit.html</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1/edit">suunnitelmat/item_edit.html</a>
  <br>
  <br>

  <p> Käyttäjät </p>

  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/people">/people</a>
  <br>
  <br>

  <p> Vaatteet </p>
  
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items">items</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/new">items/new</a> 
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1">/items/:item_id mutta kova 1 tässä' </a 
  <br>
  <br>

  <p> Vaatekaappi </p>

  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/wardrobe">/wardrobe</a> 
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/wardrobe/1">/wardrobe/:person_id mutta kova 1 tässä </a> 
  <br>
  <br>

  <p> Asut </p>

  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/outfits">/outfits</a> 
  <br>
  <br>

{% endblock %}
