{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Outfit-app</h1>
  </div>

  <p> Your virtual wardrobe </p>
  <br>
  <br>
  <p> Linkitykset vielä osin tekemättä mutta tässä listana </p>
  <br>
  <p> Staattiset testisivut </p>

  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/login">suunnitelmat/login.html</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1/edit">suunnitelmat/item_edit.html</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1/edit">suunnitelmat/item_edit.html</a>
  <br>
  <br>

  <p> Käyttäjät </p>

  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/people">/people</a>
  <br>
  <br>

  <p> Vaatteet </p>
  
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items">items</a>
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/new">items/new</a> 
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/items/1">/items/:item_id mutta kova 1 tässä' </a 
  <br>
  <br>

  <p> Vaatekaappi </p>

  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/wardrobe">/wardrobe</a> 
  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/wardrobe/1">/wardrobe/:person_id mutta kova 1 tässä </a> 
  <br>
  <br>

  <p> Asut </p>

  <br>
  <a href="http://juhapekm.users.cs.helsinki.fi/vaatekaappi/outfits">/outfits</a> 
  <br>
  <br>

{% endblock %}
